flows/client.json
[
  {
    "id": "9a41222.dde8ce",
    "type": "tab",
    "label": "Vai rolar",
    "disabled": false,
    "info": ""
  },
  {
    "id": "7577a77a.89dcb8",
    "type": "rpi-dht22",
    "z": "9a41222.dde8ce",
    "name": "",
    "topic": "rpi-dht11",
    "dht": "11",
    "pintype": "0",
    "pin": "4",
    "x": 560,
    "y": 200,
    "wires": [["d63a1547.5aaac8"]]
  },
  {
    "id": "d63a1547.5aaac8",
    "type": "function",
    "z": "9a41222.dde8ce",
    "name": "Get Data",
    "func": "let payload = {\n    temperature: Number(msg['payload']),\n    humidity_air: Number(msg['humidity'])\n}\nmsg['payload'] = payload;\nreturn msg;",
    "outputs": 1,
    "noerr": 2,
    "x": 720,
    "y": 200,
    "wires": [["dd70067c.da8528"]]
  },
  {
    "id": "fb6afc8d.e482",
    "type": "ncd-ads1115",
    "z": "9a41222.dde8ce",
    "name": "fc-28",
    "connection": "8e683f29.2fe3a",
    "addr": "72",
    "interval": "1",
    "outputs": 1,
    "output_all": false,
    "output_mult": "1",
    "channel_1": "4",
    "channel_2": "_none",
    "channel_3": "_none",
    "channel_4": "_none",
    "gain": "1",
    "mode": 1,
    "rate": 4,
    "compMode": 0,
    "compPol": 0,
    "compLat": 0,
    "compQueue": 3,
    "delay": "100",
    "x": 410,
    "y": 240,
    "wires": [["e65d074b.b97038", "7577a77a.89dcb8"]]
  },
  {
    "id": "e65d074b.b97038",
    "type": "function",
    "z": "9a41222.dde8ce",
    "name": "Humidity Soil Percentage",
    "func": "let humidity = msg['payload']['channel_1'];\n\nlet convert = function(n) {\n    let dry = 32000;\n    let wet = 12000;\n    if (n > dry) {\n        n = dry\n    } else if (n < wet) {\n        n = wet\n    }\n    return (dry-n)/(dry-wet);\n};\n\nmsg['payload'] = {\n    'humidity_soil': convert(humidity)\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 2,
    "x": 620,
    "y": 280,
    "wires": [["dd70067c.da8528"]]
  },
  {
    "id": "5c35684e.7c5148",
    "type": "debug",
    "z": "9a41222.dde8ce",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 1060,
    "y": 200,
    "wires": []
  },
  {
    "id": "dd70067c.da8528",
    "type": "join",
    "z": "9a41222.dde8ce",
    "name": "",
    "mode": "custom",
    "build": "merged",
    "property": "payload",
    "propertyType": "msg",
    "key": "payload",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "1",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 870,
    "y": 240,
    "wires": [["5c35684e.7c5148", "7b8f2ca.48f67d4"]]
  },
  {
    "id": "2333a706.964208",
    "type": "websocket out",
    "z": "9a41222.dde8ce",
    "name": "",
    "server": "e3278fb4.5459b",
    "client": "",
    "x": 1230,
    "y": 280,
    "wires": []
  },
  {
    "id": "7b8f2ca.48f67d4",
    "type": "json",
    "z": "9a41222.dde8ce",
    "name": "",
    "property": "payload",
    "action": "str",
    "pretty": false,
    "x": 1030,
    "y": 280,
    "wires": [["2333a706.964208"]]
  },
  {
    "id": "8e683f29.2fe3a",
    "type": "ncd-comm",
    "z": "",
    "name": "",
    "bus": "i2c-1",
    "commType": "standard",
    "addr": "0",
    "useMux": false,
    "muxAddr": "112",
    "muxPort": "0"
  },
  {
    "id": "e3278fb4.5459b",
    "type": "websocket-listener",
    "z": "",
    "path": "/ws/simple",
    "wholemsg": "false"
  }
]
